body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Monaco, Consolas, Menlo, monospace, 'Courier New';
}
